@import "./assets/fonts/stylesheet.css";


html, body {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Geomanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body > div {
  height: 100%;
}
.ant-table-tbody > tr > td, .ant-table-thead > tr > th {
  transition: background 0s !important;
}

.ant-table-thead > tr:nth-child(2) {
  display: none;
}

.ant-table-sticky-holder {
  background: inherit;
}

td.subBookHeader.odd {
  border-right-color: transparent !important;
}

.tableHead {
  font-weight: 400 !important;
}

.ant-table table {
  width: auto !important;
  min-width: auto !important;
}